#homeHeader{
    position: sticky;
    top: 0px;
    opacity: 0.95;
    z-index: 2;
}

#homeTitle{
    height: 50px;
    padding: 15px;
    font-size: 1.5rem;
    align-self: flex-start;
    background-color: white;
}

.homeTabs{
    display: flex;
    border-bottom: 1px solid #e5e7eb;
}

.homeTabButton{
    flex: 1;
    border: 0px;
    background-color: white;
    color: #6b7280;
    font-size: 1rem;
    font-weight: bold;
    height: 55px;
    transition: background-color 0.2s ease-out;
}

.homeTabButton:hover{
    background-color: #e4e4e7;
    cursor: pointer;
}

.homeTabButton.active{
    color: black;
    border-bottom: 4px solid #1DA1F2;
}






