#loginWrapper{
    display: flex;
    flex: 1;
}

#loginBackground{
    width: 60%;
    background-image: url('/src/assets/images/sign-up-image.jpg');
    background-position: center;
}

#loginContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-left: 1px solid #e5e7eb;
}

#loginTwitterIcon{
    width: 40px;
    height: auto;
}

#loginTitle{
    font-size: 4rem;
    font-weight: bold;
    margin: 50px 0px 50px 0px;
}

#loginJoinText{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

#loginMainBlock{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#googleSignIn,
#signInToAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #d4d4d8;
    background-color: white;
    font-weight: bold;
    color: #52525b;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-out;
}

#googleSignIn:hover,
#signInToAccount:hover{
    background-color: #f1f5f9;
    cursor: pointer;
}

.googleSignInIcon{
    width: 18px;
    height: auto;
}

#signInToAccount{
    color:#1DA1F2;
    width: 300px;
}

#createAccount,
#signUpLater{
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background-color: #1DA1F2;
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-out;
}

#signUpLater{
    margin-top: 50px;
    background-color: #18181b;
}

#signUpLater:hover{
    background-color: #27272a;
    cursor: pointer;
}

#createAccount:hover{
    cursor: pointer;
    background-color: #198fd8;
}

#loginOr{
    text-align: center;
    font-size: 1.1rem;
}

#haveAccountText{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 100px 0px 25px 0px;
}


.popupLoginPage{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 600px;
    padding: 80px;
    margin: 0px 15px 0px 15px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.popupLoginPage.signIn{
    align-items: center;
}

#createTitle{
    font-size: 2rem;
    margin-bottom: 30px;
}

#createForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#createInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createInput,
.signInInput{
    height: 55px;
    border: 1px solid #d4d4d8;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1rem;
}

.signInInput{
    width: 100%;
}

.createInput:focus,
.signInInput:focus{
    outline: none;
    border: 2px solid #1DA1F2;
}

#submitCreate,
#submitSignIn{
    height: 55px;
    border-radius: 30px;
    border: 0px;
    background-color: #1DA1F2;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-out;
}

#submitSignIn{
    width: 100%;
    height: 45px;
}

#submitCreate:hover,
#submitSignIn:hover{
    background-color: #198fd8;
    cursor: pointer;
}

#signInTwitterIcon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15px;
    width: 30px;
    height: auto;
}

#signInTitle{
    font-size: 2rem;
    margin-bottom: 30px;
}

#signInForm{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#signInMethods{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    flex: 1;
}

@media (max-width: 525px){
    #signInMethods{
        width: 250px;
    }

    .popupLoginPage{
        padding: 60px 40px 60px 40px;
    }
}