.profileHeader{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profileBackground{
    background-color: #cbd5e1;
    width: 100%;
    height: 200px;
}

.profilePictureAndFollow{
    display: flex;
    height: 70px;
    justify-content: space-between;
}

.profilePictureBig{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    top: -80px;
}

.followButton,
#editPopupSave{
    border: 0px;
    width: 80px;
    height: 35px;
    background-color: #18181b;
    border-radius: 30px;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

#editPopupSave{
    height: 30px;
    width: 65px;
}

.followButton:hover,
#editPopupSave:hover{
    background-color: #27272a;
    cursor: pointer;
}

.unfollowButton,
.editProfileButton{
    border: 1px solid #d4d4d8;
    width: 100px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #52525b;
    transition: all 0.2s ease-out;
}

.unfollowButton:hover{
    border: 1px solid #fecaca;
    background-color: #fee2e2;
    color: #ef4444;
    cursor: pointer;
}

.editProfileButton:hover{
    cursor: pointer;
    background-color: #e4e4e7;
}

.profileNameBlock{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.profileRealName{
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
}

.profileName{
    font-size: 1rem;
    color:#6b7280;
}

.profileBio{
    font-size: 1rem;
}

.profileExtraInfo{
    display: flex;
    gap: 20px;
}

.profileExtraSubBlock{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
    color:#6b7280;
}

.profileExtraInfoIcon{
    width: 15px;
    height: auto;
    filter: invert(46%) sepia(17%) saturate(345%) hue-rotate(182deg) brightness(92%) contrast(84%);
}

.profileTabs,
.followTabs{
    display: flex;
    border-bottom: 1px solid #e5e7eb;
}

.tabButton,
.tabFollowButton{
    flex: 1;
    border: 0px;
    background-color: white;
    color: #6b7280;
    font-size: 1rem;
    font-weight: bold;
    height: 55px;
    transition: background-color 0.2s ease-out;
}

.tabButton:hover,
.tabFollowButton:hover{
    background-color: #e4e4e7;
    cursor: pointer;
}

.tabButton.active,
.tabFollowButton.active{
    color: black;
    border-bottom: 4px solid #1DA1F2;
}

.followBlock{
    display: flex;
    gap: 15px;
    font-size: 0.9rem;
}

.followAmountP{
    display: flex;
    gap: 3px;
}

.followAmountP:hover{
    text-decoration: underline black;
}

.followAmount{
    font-weight: bold;
    color: black;
}

.followText{
    color: #6b7280;
}


.followerCard{
    min-height: 50px;
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    transition: background-color 0.2s ease-out;
}

.followerCard:hover{
    background-color: #F8F8F8;
}

.followerFullInfo{
    display: flex;
    width: 100%;
    gap: 7px;
    flex-direction: column;
}

.followerInfo{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.followerProfilePic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.followerName{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

.followerProfileName{
    color: #6b7280;
}

.followerBio{
    color: black;
}

#editPopupWrapper{
    background-color: white;
    width: 600px;
    height: 500px;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
}

#editPopupHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    margin-left: 50px;
    padding: 0px 16px;
}

#editPopupTitle{
    font-size: 1.4rem;
    font-weight: bold;
}

.editPopupInput,
#editPopupTextArea{
    height: 55px;
    border: 1px solid #d4d4d8;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1rem;
    resize: none;
}

#editPopupTextArea{
    height: 100px;
}

#editProfileForm{
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 25px;
}

.editPopupInput:focus,
#editPopupTextArea:focus{
    outline: none;
    border: 2px solid #1DA1F2;
}