#searchWrapper{
    width: 100%;
}

#searchBar{
    display: flex;
    position: relative;
}

#searchIconWrapper{
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    width: 45px;
    border: 0px;
}

#searchIcon{
    position: absolute;
    left: 20px;
    width: 16px;
    height: auto;
    filter: invert(48%) sepia(19%) saturate(297%) hue-rotate(182deg) brightness(87%) contrast(85%);
}

#search{
    appearance: none;
    width: 100%;
    height: 42px;
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    background-color: #f3f4f6;
    padding: 12px;
}

#search:focus{
    outline: none;
}

#searchIconWrapper.active,
#search.active{
    outline: none;
    background-color: white;
    border: 1px solid #1DA1F2;
}

#search.active{
    border-left: 0px;
}

#searchIconWrapper.active{
    border-right: 0px;
}

#searchIconWrapper.active.active #searchIcon,
#search.active #searchIcon{
    filter: invert(59%) sepia(18%) saturate(6224%) hue-rotate(175deg) brightness(93%) contrast(103%);
}

.searchResult{
    display: flex;
    gap: 15px;
    padding: 12px 16px;
    transition: background-color 0.2s ease-out;
}

.searchResult:hover{
    background-color: #F8F8F8;
    cursor: pointer;
}

#searchResultsWrapper,
#searchNoResultsWrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 8px;
    width: 340px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#searchNoResultsWrapper{
    padding: 35px 16px;
    align-items: center;
}

.searchResultProfilePicture{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.searchResultNameBlock{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 3px;
}

.searchResultRealName{
    color: black;
    font-weight: bold;
}

.searchResultProfileName{
    color: #6b7280;
}

.searchResultFollowingBlock{
    display: flex;
    align-items: center;
    gap: 1px;
}

.searchResultFollowing{
    color: #6b7280;
}

.searchResultFollowingIcon{
    width: 12px;
    height: auto;
}