#sidebar{
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0px;
    left: 0px;
}

#sidebarContent{
    padding: 15px 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#sidebarLogo{
    width: 30px;
    height: auto;
}

.sidebarLinks{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.sidebarLinkWrapper{
    display: flex;
    align-items: center;
    height: 50px;
}

.sidebarLinkContent{
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
}

.sidebarLinkContent:hover{
    background-color: #e4e4e7;
}

.sidebarLink{
    color: #111827;
    font-size: 1.5rem;
}

#composeTweet{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    justify-content: center;
    background-color: #1DA1F2;
    width: 90%;
    height: 50px;
    border-radius: 30px;
}

#composeTweet:hover{
    background-color: #198fd8;
}