.tweetBig{
   padding: 15px 20px 0px 20px;
   display: flex;
   flex-direction: column;
}

.tweetProfileBig{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweetContentBig{
    display: flex;
    flex-direction: column;
}

.tweetProfileNoMenuBig{
    display: flex;
    gap: 10px;
}

.tweetProfilePictureBig{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tweetAuthorBig{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1.1rem;
    color: #6b7280;
}

.tweetRealNameBig{
    font-weight: bold;
    color: black;
}

.tweetTextBig{
    padding: 15px 0px;
    font-size: 1.2rem;
}

.tweetImageBig{
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #e5e7eb;
}

.tweetTimeAndViewsBig{
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    height: 50px;
    align-items: center;
}

.tweetTimeBig{
    color: #6b7280;
    font-size: 1.1rem;
}

.tweetRetweetsAndLikesBig{
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    height: 50px;
    align-items: center;
    gap: 20px;
}

.tweetLikesBarBig{
    display: flex;
    height: 50px;
    align-items: center;
}

.emptySpaceBottom{
    height: 600px;
}

.tweetResponseBig{
    display: flex;
    gap: 3px;
}

.tweetResponseNumberBig{
    color: black;
}

.tweetResponseTextBig{
    color: #6b7280;
}